@charset "UTF-8";
/* Grid system inspired by boostrap */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 720px) {
  .col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Small Reset */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* Balises Génériques */
html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #313131;
  color: #ffffff;
  line-height: 2rem;
  text-align: center;
}

/* Test Input mise en forme Safari */
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

a {
  color: #ffffff;
}

/* Classes Images Génériques*/
.m-article-team-image {
  width: 8rem;
  height: auto;
}

/* Bouton dynamique - Centrage entre 2 blocs + Orange*/
.m-dynamic-button {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: block;
  width: 100%;
  height: auto;
}

.m-dynamic-button a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  background: #ff5e00;
  padding: 1.2rem 1.5rem;
  border-radius: 4px;
}

.m-dynamic-button .chevron {
  font-size: .5rem;
  padding-left: 1rem;
}

/* Dynamic Line */
.m-dynamic-line {
  display: block;
  background: #fdc501;
  width: 6rem;
  height: 0.2rem;
  margin: 0 auto;
}

/* Header Generique */
.l-main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
  background: #000000;
}

/*Logo Header*/
.l-main-header-logo {
  width: 7rem;
  height: 4rem;
  background: #fdc501;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main-header-logo img {
  width: 4rem;
  height: auto;
}

/*Menu Hamburger*/
.l-main-hamburger img {
  padding-right: 1rem;
  width: 2rem;
  height: auto;
  -webkit-filter: invert(64%) sepia(94%) saturate(699%) hue-rotate(1deg) brightness(106%) contrast(102%);
          filter: invert(64%) sepia(94%) saturate(699%) hue-rotate(1deg) brightness(106%) contrast(102%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-main-nav {
  display: none;
}

.l-main-nav.is-active {
  background: rgba(0, 0, 0, 0.85);
  display: block;
  width: 100%;
  height: 100%;
  line-height: 5rem;
  text-align: center;
  position: absolute;
  top: 4rem;
  right: 0;
}

.l-main-nav a {
  text-decoration: none;
  color: #fdc501;
  font-size: 2rem;
  display: block;
}

.l-main-nav-menu li {
  border-bottom: 0.5px solid #fdc501;
}

.l-main-nav-menu li:last-child {
  border-bottom: 0;
}

/* Menu Hamburger - social networks icons */
.l-main-nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-main-nav-social i {
  font-size: 1.5rem;
  padding: 0 1rem;
}

/* Menu Carroussel */
.m-dynamic-header {
  background-image: url(../img/hero-bg.jpg);
  padding: 4rem 2rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  position: relative;
}

.m-dynamic-header p {
  padding-top: 1rem;
  color: #9c9c9c;
}

.m-dynamic-header h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  line-height: 3rem;
}

.m-dynamic-title a {
  text-decoration: none;
  border-bottom: 1px solid grey;
  display: inline-block;
}

/* Menu Carroussel - Rond de défilement */
.m-dynamic-circle {
  padding-top: 2rem;
}

.m-dynamic-circle-item {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  margin: 0 .3rem;
  cursor: pointer;
}

.m-dynamic-circle-item:last-child {
  background: #fdc501;
}

/* Main */
/* Section-Projets */
.m-section-projects {
  background: #111417;
  text-align: center;
  padding: 4rem 0;
}

.m-section-projects .m-dynamic-line {
  background: #313131;
}

.m-section-projects p {
  color: #9c9c9c;
  padding: 2rem;
}

/* Section-Project Titre H2 */
.m-section-title {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: center;
}

.m-section-title:after {
  content: ".";
  color: yellow;
  font-size: 1.2rem;
}

/* Article-photo */
.m-article-photo {
  width: 100%;
  height: auto;
  line-height: 0;
}

.m-article-photo a {
  display: block;
}

/* Section-Services */
.m-section-services {
  background: #111417;
  text-align: left;
  padding: 0 2rem;
}

.m-section-services .m-dynamic-line {
  background: #313131;
}

.m-section-services p {
  padding: 2rem 0;
  color: #9c9c9c;
}

.m-section-services p:nth-child(3) {
  text-align: center;
}

/* Section Services - Titres H3 Jaune + Content */
.m-section-services h3 {
  color: #fdc501;
  font-weight: 600;
}

.m-section-services h3::after {
  content: ".";
}

/* Section Who Are We */
.m-section-who {
  background: #111417;
  text-align: left;
  padding: 0 2rem;
}

.m-section-who .m-dynamic-line {
  background: #313131;
}

.m-section-who p {
  padding: 2rem 0;
  color: #9c9c9c;
}

.m-section-who p:nth-child(3) {
  text-align: center;
}

/* Section Who are We - Titres H3 Jaune + Content */
.m-section-who h3 {
  color: #fdc501;
  font-weight: 600;
}

.m-section-who h3::after {
  content: ".";
}

/* Section Team */
.m-section-team {
  background: #111417;
  padding: 0 2rem;
  padding-bottom: 6rem;
  text-align: left;
}

.m-section-team .m-dynamic-line {
  background: #313131;
  margin-bottom: 2rem;
}

.m-section-team p {
  color: #9c9c9c;
}

/* Section Team - Padding vertical par article */
.m-article-team {
  padding-top: 2rem;
}

/* Section Team - Entete Image + Nom + Titre */
.m-section-team h3 {
  color: #fdc501;
  font-weight: 600;
}

.m-article-team img {
  float: left;
  width: 7rem;
  height: auto;
  padding-right: 2rem;
}

.m-article-team p {
  padding-top: 0;
  padding-top: 4rem;
}

/* Section Team - Logo réseaux sociaux */
.m-section-team .m-article-team-social a {
  padding: 0 .5rem;
}

.m-section-team .m-article-team-social a:first-child {
  padding-left: 0;
}

.m-section-team .m-article-team-social a:hover {
  color: #fdc501;
}

/* Section Quote - Citation Steve Jobs */
.l-section-quote {
  padding: 4rem 2rem;
  background: #fdc501;
}

.l-section-quote p {
  font-size: 1.2rem;
  padding: 2rem 0;
  text-shadow: 1px 1px 2px #a1a1a1;
}

.l-section-quote h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.l-section-quote h3 {
  color: #111417;
  font-size: .9rem;
  font-weight: 600;
}

.l-section-quote img {
  width: 4rem;
  height: 4rem;
  float: left;
  border-radius: 4rem;
  border: 5px solid white;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2rem;
}

.l-section-quote-group {
  max-width: 100%;
  width: 15rem;
  height: auto;
  text-align: left;
  margin: 2rem auto;
}

/* Section Quote - Boules de défilement */
.l-section-quote .m-dynamic-circle-item {
  background: #ffffff;
}

.l-section-quote .m-dynamic-circle-item:last-child {
  background: #111417;
}

/* Section Footer - Get in touch with us */
footer {
  padding: 6rem 2rem;
  background: #111417;
}

footer .m-dynamic-line {
  background: #313131;
}

/* Section Footer - Mise en forme formulaire */
footer .l-footer-loginform {
  padding: 4rem 1rem;
}

.l-loginform-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-footer-loginform .l-loginform-item input {
  font-family: 'Raleway', sans-serif;
  max-width: 20rem;
  width: 100%;
  height: 2rem;
  border: 0;
  padding: 1rem;
  margin: 1rem 0;
  background: #313131;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
}

.l-footer-loginform .m-loginform-message textarea {
  font-family: 'Raleway', sans-serif;
  min-height: 20rem;
  width: 20rem;
  height: 20rem;
  border: 0;
  padding: 1rem;
  margin: 1rem 0;
  background: #313131;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
}

/* Section Footer - Mise en forme Formulaire - Boutton Submit */
.l-footer-loginform .m-loginform-sendbutton input {
  cursor: pointer;
  max-width: 100%;
  width: 22rem;
  height: 4rem;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  background: #fdc501;
}
/*# sourceMappingURL=screen.css.map */