/* Balises Génériques */
html{
    font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
    background: $color-background;
    color: $color-text;
    line-height: 2rem;
    text-align: center;
}

a{
    color: $color-text;
}

/* Classes Images Génériques*/
.m-article-team-image{
    width: 8rem;
    height: auto;
}

/* Dynamic Button */
.m-dynamic-button{
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
    display: block;
}

.m-dynamic-button a{
    text-decoration: none;
    background: rgb(255, 94, 0);
    padding: 1rem 2rem;
    border-radius: 4px;
}

/* Dynamic Line */
.m-dynamic-line{
    display: block;
    background: $color-secondary;
    width: 6rem;
    height: 0.2rem;
    margin: 0 auto;
}