/* Balises Génériques */
html{
    font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
    background: $color-background;
    color: $color-text;
    line-height: 2rem;
}

a{
    color: $color-text;
}

/* Classes Images Génériques*/
.m-article-project-image{
    width: 10rem;
    height: auto;
}

.m-article-team-image{
    width: 8rem;
    height: auto;
}