/*Menu Hamburger*/
.l-main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: black;
}

.l-main-hamburger img{
    padding-right: 1rem;
    width: 2.5rem;
    height: auto;
    filter: invert(64%) sepia(94%) saturate(699%) hue-rotate(1deg) brightness(106%) contrast(102%);
}

.l-main-nav{
   display: none;
}

.l-main-nav.is-active{
    background: rgba($color: #000000, $alpha: 0.75);
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 64.633px;
    left: 0;
    text-align: center;
}

.l-main-nav a{
    text-decoration: none;
    color: rgb(253, 197, 1);
    font-size: 5rem;
}

.l-main-nav-social{
    display: flex;
    justify-content: space-around;
}

/*Logo Header*/
.l-main-header-logo{
    padding: 1.5rem;
    width: 4.5rem;
    height: auto;
    background: rgb(253, 197, 1);
    display: flex;
}

/*Menu Tourniquet*/
.m-dynamic-header{
    background-image: url(../img/hero-bg.jpg);
    padding: 8rem 2rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.m-dynamic-header h2{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 4rem;
}