/* Header Generique */
.l-main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: $color-background-header;
}

/*Logo Header*/
.l-main-header-logo{
    width: 7rem;
    height: 4rem;
    background: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-main-header-logo img{
    width: 4rem;
    height: auto;
}

/*Menu Hamburger*/
.l-main-hamburger img{
    padding-right: 1rem;
    width: 2rem;
    height: auto;
    filter: invert(64%) sepia(94%) saturate(699%) hue-rotate(1deg) brightness(106%) contrast(102%);
    display: flex;
}

.l-main-nav{
   display: none;
}

.l-main-nav.is-active{
    background: rgba($color: #000000, $alpha: 0.85);
    display: block;
    width: 100%;
    height: 100%;
    line-height: 5rem;
    text-align: center;
    position: absolute;
    top: 4rem;
    right: 0;
}

.l-main-nav a{
    text-decoration: none;
    color: $color-secondary;
    font-size: 2rem;
    display: block;
}

.l-main-nav-menu li{
    border-bottom: .5px solid $color-secondary;
}

.l-main-nav-menu li:last-child{
    border-bottom: 0;
}

/* Menu Hamburger - social networks icons */
.l-main-nav-social{
    display: flex;
    justify-content: center;
}

.l-main-nav-social i{
    font-size: 1.5rem;
    padding: 0 1rem;
}

/* Menu Tourniquet */
.m-dynamic-header{
    background-image: url(../img/hero-bg.jpg);
    padding: 4rem 2rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    position: relative;
}

.m-dynamic-header p{
    padding-top: 1rem;
    color: $color-text-secondary;
}

.m-dynamic-header h2{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    line-height: 3rem;
}

.m-dynamic-line{
    display: block;
    background: $color-secondary;
    width: 6rem;
    height: 0.2rem;
    margin: 0 auto;
}

.m-dynamic-title a{
    text-decoration: none;
    border-bottom: 1px solid grey;
    display: inline-block;
}