/* Main */
/* Section-Projets */
.m-section-projects{
    background: $color-background-section;
    text-align: center;
    padding: 4rem 0;
}

.m-section-projects .m-dynamic-line{
    background: $color-background;
}

.m-section-projects p{
    color: $color-text-secondary;
    padding: 2rem;
}


/* Section-Project Titre H2 */
.m-section-title{
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1rem;
    text-align: center;
}

.m-section-title:after{
    content: ".";
    color: yellow;
    font-size: 1.2rem;
}

/* Article-photo */
.m-article-photo{
    width: 100%;
    height: auto;
    line-height: 0;
}

.m-article-photo a{
    display: block;
}

/* Section-Services */
.m-section-services{
    background: $color-background-section;
    text-align: left;
    padding: 0 2rem;
}

.m-section-services .m-dynamic-line{
    background: $color-background;
}

.m-section-services p{
    padding: 2rem 0;
    color: $color-text-secondary;
}

.m-section-services p:nth-child(3){
    text-align: center;
}

/* Titres H3 Jaune + Content */
.m-section-services h3{
    color: $color-secondary;
    font-weight: 600;
}
    
.m-section-services h3::after{
    content: ".";
}

/* Section Who Are We */
.m-section-who{
    background: $color-background-section;
    text-align: left;
    padding: 0 2rem;
}

.m-section-who .m-dynamic-line{
    background: $color-background;
}

.m-section-who p{
    padding: 2rem 0;
    color: $color-text-secondary;
}

.m-section-who p:nth-child(3){
    text-align: center;
}

/* Titres H3 Jaune + Content */
.m-section-who h3{
    color: $color-secondary;
    font-weight: 600;
}
    
.m-section-who h3::after{
    content: ".";
}