/* Main */
/* Section-Projets */
.m-section-projects{
    background: $color-background-section;
    text-align: center;
    padding: 4rem 0;
}

.m-section-projects .m-dynamic-line{
    background: $color-background;
}

.m-section-projects p{
    color: $color-text-secondary;
    padding: 2rem;
}


/* Section-Project Titre H2 */
.m-section-title{
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1rem;
    text-align: center;
}

.m-section-title:after{
    content: ".";
    color: yellow;
    font-size: 1.2rem;
}

/* Article-photo */
.m-article-photo{
    width: 100%;
    height: auto;
    line-height: 0;
}

.m-article-photo a{
    display: block;
}

/* Section-Services */
.m-section-services{
    background: $color-background-section;
    text-align: left;
    padding: 0 2rem;
}

.m-section-services .m-dynamic-line{
    background: $color-background;
}

.m-section-services p{
    padding: 2rem 0;
    color: $color-text-secondary;
}

.m-section-services p:nth-child(3){
    text-align: center;
}

/* Section Services - Titres H3 Jaune + Content */
.m-section-services h3{
    color: $color-secondary;
    font-weight: 600;
}
    
.m-section-services h3::after{
    content: ".";
}

/* Section Who Are We */
.m-section-who{
    background: $color-background-section;
    text-align: left;
    padding: 0 2rem;
}

.m-section-who .m-dynamic-line{
    background: $color-background;
}

.m-section-who p{
    padding: 2rem 0;
    color: $color-text-secondary;
}

.m-section-who p:nth-child(3){
    text-align: center;
}

/* Section Who are We - Titres H3 Jaune + Content */
.m-section-who h3{
    color: $color-secondary;
    font-weight: 600;
}
    
.m-section-who h3::after{
    content: ".";
}

/* Section Team */
.m-section-team{
    background: $color-background-section;
    padding: 0 2rem;
    padding-bottom: 6rem;
    text-align: left;
}

.m-section-team .m-dynamic-line{
    background: $color-background;
    margin-bottom: 2rem;
}

.m-section-team p{
    color: $color-text-secondary
}

/* Section Team - Padding vertical par article */
.m-article-team{
    padding-top: 2rem;
}

/* Section Team - Entete Image + Nom + Titre */
.m-section-team h3{
    color: $color-secondary;
    font-weight: 600;
}

.m-article-team img{
    float: left;
    width: 7rem;
    height: auto;
    padding-right: 2rem;
}

.m-article-team p{
    padding-top: 0;
    padding-top: 4rem;
}

/* Section Team - Logo réseaux sociaux */
.m-section-team .m-article-team-social a{
    padding: 0 .5rem;
}

.m-section-team .m-article-team-social a:first-child{
    padding-left: 0;
}

.m-section-team .m-article-team-social a:hover{
    color: $color-secondary;
}

/* Section Quote - Citation Steve Jobs */

.l-section-quote{
    padding: 4rem 2rem;
    background: $color-secondary;
}

.l-section-quote p{
    font-size: 1.2rem;
    padding: 2rem 0;
    text-shadow: 1px 1px 2px rgb(161, 161, 161);
}

.l-section-quote h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.l-section-quote h3{
    color: $color-background-section;
    font-size: .9rem;
    font-weight: 600;
}

.l-section-quote img{
    width: 4rem;
    height: 4rem;
    float: left;
    border-radius: 4rem;
    border: 5px solid white;
    object-fit: cover;
    margin-right: 2rem;
}

.l-section-quote-group {
    max-width: 100%;
    width: 15rem;
    height: auto;
    text-align: left;
    margin: 2rem auto;
}

/* Section Quote - Boules de défilement */
.l-section-quote .m-dynamic-circle-item{
    background: $color-text;
}

.l-section-quote .m-dynamic-circle-item:last-child{
    background: $color-background-section;
}