$color-text: #ffffff;
$color-text-secondary: rgb(156, 156, 156);
$color-secondary: rgb(253, 197, 1);
$color-background: rgb(49, 49, 49);
$color-background-header: #000000;
$color-background-section: rgb(17, 20, 23);
$color-text-copyright: rgb(66, 66, 66);